@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: -3px;
    margin-top: -7px;
    margin-left: 0.5px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quadrado {
    width: 290px;
    height: 420px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.imagem {
   padding: 15px;
   margin-top: 95px;
}
img {
    width: 255px;
    height: 255px;
    border-radius: 4px;
}  

.texto {
    padding: 10px;
    text-align: center;
    margin-bottom: 85px;
    font-family: 'Outfit', sans-serif;
}

h1 {
    padding: 10px;
    font-size: 19px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

footer {
    font-size: 20px;
    margin-top: 300px;
    margin: -10%;
}

.rodape { 
    font-size: 15px; 
    text-align: center; 
    color: black;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    background: gray;
    padding: 68px;
}
.rodape a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
.rodape a:hover {
    text-decoration: underline;
    color: brown;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    body {
        background-color: hsl(212, 45%, 89%);
    }
}
